<form [formGroup]="pageForm">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" formControlName="nome">
    <div [hidden]="pageForm.controls.nome?.valid || pageForm.controls.nome?.pristine" class="alert alert-danger" >
      <span [hidden]="!pageForm.controls.nome?.errors?.required">Campo Obrigatório</span>
    </div>
  </div>
  <div class="form-group">
    <label for="endereco">Endereço</label>
    <input type="text" class="form-control" formControlName="endereco" >
    <div [hidden]="pageForm.controls.endereco?.valid || pageForm.controls.endereco?.pristine" class="alert alert-danger" >
      <span [hidden]="!pageForm.controls.endereco?.errors?.required">Campo Obrigatório</span>
    </div>
  </div>
  <div class="form-group">
      <label for="CEP">CEP</label>
      <input type="text" class="form-control" formControlName="cep" >
      <div [hidden]="pageForm.controls.cep?.valid || pageForm.controls.cep?.pristine" (click)="log(pageForm.controls)" class="alert alert-danger" >
        <span [hidden]="!pageForm.controls.cep?.errors?.required">Campo Obrigatório</span>
        <span [hidden]="!pageForm.controls.cep?.errors?.cep">CEP Inválido</span>
      </div>
    </div>
  <div class="form-group">
    <label for="idade">Idade</label>
    <input type="number" class="form-control" formControlName="idade">
    <div [hidden]="hiddeErro(pageForm.controls.idade)" class="alert alert-danger" >
        <span *ngFor="let item of idadeMsgList" [hidden]="hiddeErroMsg(pageForm.controls.idade,item.key)">
          {{item.msg}}
        </span>
    </div>
  </div>
  <div>
    <button [disabled]="pageForm.invalid || pageForm.pending" class="btn">Salvar</button>
  </div>
</form>