<md-sidenav-container>
    <md-sidenav #sidenav mode="side" class="app-sidenav">
        <md-nav-list>
            <nav>
                <h3>Home</h3>
                <ul>
                    <li>
                        <a uiSrefActive="active" uiSref="home" role="button"> Home </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" type="button" (click)="logOut()"> Log - Out </a>
                    </li>
                </ul>
            </nav>
        </md-nav-list>

    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()">
                <md-icon class="md-24" >menu</md-icon>
            </button>
    </md-toolbar>
    <div class="app-content">
        {{titulo}}
    </div>
    <footer>
        <span> © Copyright 2017</span>
    </footer>
</md-sidenav-container>